<section class="section">
    <div class="container">
        <div class="columns">
        
            <!-- LEFT SIDE -->
            <div class="column is-one-third">
                <div class="columns is-multiline">

                    <!-- Top Card -->
                    <div class="column is-full">
                        <div class="card">

                            <!-- Avatar -->
                            <div class="card-content is-horizontal is-center is-flex"></div>
                              <figure class='image is-128x128'>
                                <%= image_tag avatar_url(@user), class: 'is-rounded' %>
                              </figure>
                            <div class="card-content">

                                <!-- Upload Button -->
                                <div class="content has-text-centered">
                                  <p class="title-is-5">
                                    <%= @user.full_name %>
                                  </p>
                                </div>
                                <hr class="h-10">
                                
                                <!-- Member -->
                                <article class="media">
                                    <div class="media-content">Member Since</div>
                                    <div class="media-right"><strong><%= @user.created_at.strftime('%b %Y')%></strong></div>
                                </article>

                                <hr class="h-10">
                                
                                <!-- From -->
                                <article class="media">
                                    <div class="media-content">From</div>
                                    <div class="media-right"><strong><%= @user.from %></strong></div>
                                </article>                                
                                <hr class="h-10">

                                <!-- Online Status -->
                                <article class='media'>
                                    <div class="media-content">Online Status</div>
                                    <div class="media-right"><strong><% if @user.status %> Online <% else %> Offline <% end %></strong></div>
                                </article>

                            </div>
                        </div>
                    </div>

                    <!-- Bottom Card -->
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content">

                                <!-- About -->
                                <article class="media">
                                    <div class="media-content">
                                      <p><strong>About</strong>
                                          <br>
                                          <%=@user.about%>
                                      </p>
                                    </div>
                                </article>
                                <hr class="h-10">

                                <!-- Languages -->
                                <article class="media">
                                    <div class="media-content">
                                      <p>
                                        <strong>Language</strong>
                                        <br>
                                        <%=@user.language%>
                                      </p>
                                    </div>                                   
                                </article>
                                <hr class="h-10">
                                
                                <!-- Linked Account -->
                                <article class="media">
                                  <div class="content">
                                    <p>
                                      <strong>Linked Account</strong>
                                      <% if @user.uid %>
                                        <span class="has-text-success">Facebook Verified</span>
                                      <% else %>
                                        <span class="has-text-danger">Facebook Not Verified</span>
                                      <% end %>
                                    </p>
                                  </div>
                                </article>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">
                      Latest Reviews
                    </div>
                  </div>
                  <div class="card-content">
                    <article class="media">
                      <figure class='media-left'>
                        <p class="image is-64x64">
                          <%= image_tag avatar_url(@user), class: 'is-rounded' %>
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Danny Go</strong><br>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo porro, neque nihil, ipsum ea ducimus odit voluptate non in veniam, blanditiis autem rem earum voluptatum commodi similique maxime laboriosam praesentium.
                          </p>
                          <small>31m</small>
                        </div>
                      </div>

                         <div class="media-right">
                          <span class="star-review">
                            <i class="fa fa-star">
                              5.0
                            </i>
                          </span>
                         </div>
                      </article>
                    </div>
                  </div>
                </div>
            </div>
            
        </div>
    </div>
</section>